<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <script src="/Chart.min.js"></script>
</head>
<body>
    <app>Loading...</app>
</body>