@import '../node_modules/@angular/material/core/theming/all-theme';
@include mat-core();
$app-primary:mat-palette($mat-light-blue,500,100,700);
$app-accent: mat-palette($mat-pink,A200,A100,A400);
$app-warn:   mat-palette($mat-red);
$app-theme:  mat-light-theme($app-primary,$app-accent,$app-warn);
@include angular-material-theme($app-theme);
.fill-remaining-space{
  flex:1 1 auto;
}
body {
  background-color: #f8f8f8;
  font-family:'Muli', sans-serif;
  padding: 0;
  margin: 0;
}
body.web {
  overflow:visible;
  position:initial;
}
.mat-whiteframe-z2 {
  box-shadow:0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.md-whiteframe-z2 {
  box-shadow:0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}