<md-toolbar color="primary">
    <login-buttons *ngIf="!user && !reportUrl"></login-buttons>
    <span class="toolbar-title" *ngIf="user" [innerHtml]="user | displayName"></span>
    <button *ngIf="reportUrl" md-icon-button [mdMenuTriggerFor]="menu" mdTooltip="Choose a child">
        <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
    </button>
    <md-menu #menu="mdMenu">
        <button md-menu-item *ngFor="let childElem of children" (click)="goToChart(childElem._id);">
            <span>{{childElem.name}}</span>
        </button>
    </md-menu>
    <span class="fill-remaining-space"></span>
    <button *ngIf="user && !reportUrl" md-icon-button mdTooltip="Service" (click)="openAddChildForm();">
        <i class="fa fa-ellipsis-v fa-3x" aria-hidden="true"></i>
    </button>
</md-toolbar>
<router-outlet></router-outlet>