.toolbar-title{
  text-decoration:none;
  color:white;
}
md-toolbar{
  font-size: 19px;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.26);
}
/deep/ .login-buttons-email-input, /deep/ .login-buttons-password-input{
  width:inherit !important;
}