<div class="flex-container" style="overflow-x:scroll;">
    <h1 class="noMargin" style="color:#03a9f4;">{{name}}</h1>
    <div *ngFor="let BehaviorName of behaviorNames" fxFlex="100%" fxFlex.xs="671px">
        <h2 class="noMargin">{{BehaviorName}}</h2>
            <canvas *ngIf="showChart" baseChart
                    [datasets]="allBehaviors[BehaviorName]"
                    [labels]="labels"
                    [legend]="true"
                    [chartType]="'line'"></canvas>
    </div>
</div>