[md-fab].mat-warn,[md-fab].mat-accent,[md-fab].mat-primary{
  font-size:8px;
}
[md-fab].customButton{
  background:yellow;
  font-size:50px;
}
.imgWidth{
  max-width:100%;
}
.flex-container, .imgPdng{
  margin-top:10px;
}
.imgPdng{
  border:1px solid grey;
  border-radius:50%;
}
/deep/ .mat-tab-label{
  min-width:33% !important;
}
@media(min-width:900px){
  [md-fab].mat-warn,[md-fab].mat-accent,[md-fab].mat-primary{
    font-size:23px;
  }
  [md-fab]{
    width:150px;
    height:150px;
  }
}