<md-tab-group>
    <md-tab *ngFor="let child of children;let n=index;trackBy:trackByFn">
        <template md-tab-label>
            <img *ngIf="child.thumb" class="imgPdng" [src]="child.thumb">
            {{child.name}}
        </template>
        <div class="flex-container"
             fxLayout="row"
             fxLayoutAlign="space-around">
            <div *ngFor="let behavior of child.behaviorNames;let i=index" fxFlex="11%" fxLayout="column" fxLayoutAlign="start">
                <button *ngIf="[0,3,6,9,12,15,18,21,24].indexOf(i)!==-1" md-fab color="primary" (click)="save(i,child._id);">{{behavior}}</button>
                <button *ngIf="[1,4,7,10,13,16,19,22,25].indexOf(i)!==-1" md-fab color="accent" (click)="save(i,child._id);">{{behavior}}</button>
                <button *ngIf="[2,5,8,11,14,17,20,23,26].indexOf(i)!==-1" md-fab color="warn" (click)="save(i,child._id);">{{behavior}}</button>
            </div>
            <div *ngIf="!child.demo" fxFlex="11%" fxLayoutAlign="center">
                <form [formGroup]="addCategory" (ngSubmit)="addingCategory(child);">
                    <button md-fab class="customButton" type="submit"><b>+</b></button>
                    <md-input-container type="text">
                        <input mdInput formControlName="category" placeholder="NEW CATEGORY">
                    </md-input-container>
                </form>
            </div>
        </div>
        <div class="flex-container"
             fxLayout="column">
                    <canvas *ngIf="childrenBhvrs[child._id]" baseChart
                            [datasets]="[{data:childrenBhvrs[child._id][1],label:'Today'},{data:childrenBhvrs[child._id][0],label:this.refreshLabel}]"
                            [labels]="child.behaviorNames"
                            [chartType]="'radar'"></canvas>
        </div>
    </md-tab>
</md-tab-group>
<img *ngIf="showBoarding" src="img/free-login-page-c8.png" style="width:100%;" (click)="offBoarding();">