<div class="children-update-container">
    <div fileDrop
         [ngClass]="{'file-is-over':fileIsOver,'file-uploading':uploading}"
         (fileOver)="fileOver($event)"
         (onFileDrop)="onFileDrop($event)">
        <div class="font-size">Drop an image to here</div>
    </div>
    <div *ngIf="thumb && thumb.url" class="thumbs">
        <div class="thumb">
            <img [src]="thumb.url"/>
        </div>
        <div class="clear"></div>
    </div>
</div>