.file-uploading{
  opacity:0.3;
}
.file-is-over{
  opacity:0.7;
}
.children-update-container{
  width:100%;
  margin:15px;
  .thumbs{
    margin-top:10px;
    margin-bottom:10px;
    .clear{
      clear:both;
    }
    .thumb{
      margin:auto;
      width:60px;
      height:60px;
      display:flex;
      justify-content:center;
      align-items:center;
      overflow:hidden;
      img{
        flex-shrink:0;
        min-width:100%;
        min-height:100%
      }
    }
  }
}
[filedrop]{
  width:100%;
  float:left;
  height:60px;
  line-height:60px;
  text-align:center;
  border:3px dashed rgba(255, 255, 255, 0.7);
}
@media(max-width:699px){
  .font-size{
    font-size: 50%;
  }
}