<div class="form-container">
    <div class="container-background">
        <div class="form-content" fxLayoutAlign="center" style="padding-top:10px !important;">
            <h1>Want to add a child?</h1>
            <form *ngIf="!isCorrdova" class="flex-container" fxLayout="column" [formGroup]="addForm" (ngSubmit)="addChild();upload.reset();">
                <div fxLayout="row" fxLayoutAlign="center">
                    <md-input-container>
                        <input mdInput dividerColor="accent" formControlName="name" placeholder="Name">
                    </md-input-container>
                </div>
                <div fxLayout="row" fxLayoutAlign="center">
                    <children-upload #upload (onFile)="onImage($event)" fxLayoutAlign="center center" fxFlex="95%"></children-upload>
                </div>
                <button color="accent" md-raised-button type="submit">Add my child!</button>
            </form>
            <form *ngIf="isCorrdova" class="flex-container" fxLayout="column" [formGroup]="addForm" (ngSubmit)="addChild();upload.reset();">
                    <div style="display:table-row">
                        <div class="form-inputs">
                            <md-input-container>
                                <input mdInput dividerColor="accent" formControlName="name" placeholder="Name">
                            </md-input-container>
                            <br/><br/>
                            <button color="accent" md-raised-button type="submit">Add my child!</button>
                        </div>
                    </div>
            </form>
            <hr fxFlex="100%">
            <h2 *ngIf="showReports" fxFlex="100%" fxLayoutAlign="center">OR</h2>
            <form *ngIf="showReports" class="flex-container" fxLayout="row" fxLayout.xs="column" [formGroup]="addReport" (ngSubmit)="sendReport();">
                <md-input-container type="email" fxFlex="33%">
                    <input mdInput formControlName="email" placeholder="EMAIL">
                </md-input-container>
                <button md-button type="submit" fxFlex="34%" color="accent">Send the reports</button>
                <button md-raised-button type="button" fxFlex="33%" color="warn" (click)="goToReports();">SEE THE REPORTS</button>
            </form>
        </div>
    </div>
</div>